**/*.pth filter=lfs diff=lfs merge=lfs -text
Stanford[[:space:]]Cars[[:space:]]—[[:space:]]Image[[:space:]]Classification/artifacts/*.pth filter=lfs diff=lfs merge=lfs -text
**/artifacts/*.pth filter=lfs diff=lfs merge=lfs -text
**/artifacts/*.png filter=lfs diff=lfs merge=lfs -text
**/artifacts/*.npy filter=lfs diff=lfs merge=lfs -text
**/artifacts/*.json filter=lfs diff=lfs merge=lfs -text
**/artifacts/*.csv filter=lfs diff=lfs merge=lfs -text
**/artifacts/*.jpg filter=lfs diff=lfs merge=lfs -text
**/artifacts/*.jpeg filter=lfs diff=lfs merge=lfs -text
